@import url(./common.css);

/* 운송서비스 */
/* 보관서비스 */
.service_delivery { background: url(../images/img/sub01_visual_img02.jpg) no-repeat 9% 0; }
.sub_content_wrap { background-attachment: fixed; }
.sub_content .sub_navi ul li:nth-child(2) a { font-weight: bold; background: #ffda00;}
/* 운송서비스 - 이용방법 */
.delivery_info { width: 100%; height: 500px; margin-top: 0; }
  .delivery_info h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 70px 0 50px;
  }
  .delivery_info .delivery_cont { width: 100%; margin: 0 auto; }
  .delivery_info .delivery_cont li {
    border: 1px solid #ccc;
    border-top-left-radius: 33px 33px;
    border-bottom-right-radius: 33px 33px;
    width: 29%;
    height: 360px;
    float: left;
  }
  .delivery_info .delivery_cont li:nth-child(3) { margin-left: 14px; }
  .delivery_info .delivery_cont li:nth-child(even) { border: none; width: 5%; height: 100%; }
  .delivery_info .delivery_cont li:nth-child(even) img { padding-left: 30px; margin-top: 150px; }
  .delivery_info .delivery_cont li:last-child { float: right; }

  .delivery_info .delivery_cont .delivery_img { width: 100%; height: 50%; text-align: center; }
  .delivery_info .delivery_cont .delivery_img img { margin-top: 30px; }
  .delivery_info .delivery_cont .delivery_img_txt { position: relative; width: 100%; height:50%; text-align: center; background-color: #F8F8F8; border-bottom-right-radius: 33px 33px; }
  .delivery_info .delivery_cont .delivery_img_txt h3 {
    position: absolute; top: -14%; left: 42%;
    width: 60px; height: 45px; padding-top: 15px;
    background-color: #F7B618;
    border-radius: 30px;
    color: white;
    font-size: 26px; font-weight: 500;
  }
  .delivery_info .delivery_cont .delivery_img_txt h4 {
    padding-top: 60px;
    font-size: 24px; font-weight: normal;
  }
  .delivery_info .delivery_cont .delivery_img_txt p {
    padding: 10px;
    line-height: 23px;
  }
  .delivery_info p.book_btn { clear: both; text-align: center; padding-top: 50px;}
  .delivery_info p.book_btn a { color: #000; text-align: center;
    background-color: #FFDA00; padding: 13px 25px; }
  /* 운송서비스 - 이용방법 끝 */

  /* 운송서비스 - 운송서비스 시간 */
.ivory { background-color: #F8F8F8; margin-top: 0; height: 650px; }
.ivory .sub_content { background: url(../images/img/deliver_cont3_img02.png) no-repeat 0 435px; position: relative; }
.ivory .sub_content h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}
.ivory .sub_content .deli_human { width: 161px; height: 156px; margin-top: 205px; }
.ivory .sub_content .deli_human img { width: 100%; height: 100%; }

.ivory .sub_content .place_select { width: 100%; margin-top: 50px; }
.ivory .sub_content .place_select .place_list { width: 240px; height: 70px; }
.ivory .sub_content .place_select .place_list option { font-size: 17px; }
.ivory .sub_content .place_select .place_list option:hover { background-color: #ccc; }

.ivory .sub_content .place_select .place_leave { float: left; }
.ivory .sub_content .place_select .place_arrive { float: right; }
.ivory .sub_content .place_select .place_list { border: 1px solid #ccc;
  font-size: 17px; padding: 0 10px 0 20px; }

  /* todo *******************/
  .ivory .sub_content .deli_human img.move {
    transform: translateX(1020px);
    transition-duration: 1000ms;
  }
  .ivory .sub_content .deli_human img.back {
    transform: translateX(0px);
    transition-duration: 1000ms;
  }
 .ivory .sub_content .deli_notice {
   position: absolute;
   top: 25%; left: 29%;
   width: 41%; height: 22%;
   background-color: #fff;
   border-top: 1px solid #FFDA00;
 }
 
 .sub_content .deli_notice .notice_detail {
   width: 100%; height: 100%;
   display: none;
 }
 .deli_notice .notice_detail p {
   text-align: left; font-size: 19px;
   letter-spacing: -0.4px; width: fit-content;
   line-height: 30px;
   margin: 40px auto 0;
}
.deli_notice .notice_detail p { font-weight: 300; }
.deli_notice .notice_detail span.notice_time { text-decoration: underline; }
.deli_notice .notice_detail span.notice_yellow { color: #FFA200; font-weight: 600; }
.deli_notice .notice_detail span.notice_orange { color: #FF6600; font-weight: 600; }

.sub_content .deli_notice.off { display: none; }
.deli_notice .notice_detail.on { display: inline; }

  /* 운송서비스 - 운송서비스 시간 끝 */


  /* 운송서비스 - 숙소지역 */
.deli_hotel { height: 660px; }
.deli_hotel .sub_content { padding-bottom: 0 !important; }
.deli_hotel .sub_content h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 70px;
}
.deli_hotel .sub_content .hotel_area { width: 100%; height: 385px; padding: 0; margin-top: 70px; }
.deli_hotel .sub_content ul.hotel_area li { float: left; position: relative; overflow: hidden; }
.deli_hotel .sub_content ul.hotel_area li p {
  color: white; z-index: 100;
  text-align: center;
  font-size: 23px; font-weight: bold;  
  position: absolute; top: 50%; left: 38%;
}
.deli_hotel .sub_content ul.hotel_area li p#long { top: 45%; left: 32%; line-height: 28px; }
.deli_hotel .sub_content ul.hotel_area li .img_box::after {
  content: ""; position: absolute; top: 0; left: 0;
  width: 100%; height: 385px;
  background-color: rgba(0, 0, 0, 0.5);
}
.sub_content ul.hotel_area li:hover {
  transform: translateY(-25px);
  transition-duration: 600ms;
  box-shadow: rgba(170, 170, 170, 0.6) 10px 10px 10px;
}
.sub_content ul.hotel_area li:hover .img_box::after { display: none; }
.sub_content ul.hotel_area li:hover p { font-size: 31px; top: 47%; left: 34%; }
.sub_content ul.hotel_area li:hover img { transform: scale(1.2); transition-duration: 400ms; }
.sub_content ul.hotel_area li:hover p#long { top: 45%; left: 30%; }
  /* 운송서비스 - 숙소지역 끝 */


  /* 운송서비스 - 이용요금 */
.deli_price { height: 538px; background: url(../images/img/deliver_cont4_bg1.jpg) no-repeat 50% 0;}
.deli_price .price_wrap { height: 100%; }
.deli_price .size_img {
  box-sizing: border-box;
  width: 32%; height: 100%; display: inline-block;
  position: relative;
}
.deli_price .size_img img {
  position: absolute;
  top: 19%; left: 19%;
}
.deli_price .price_box { box-sizing: border-box; width: 55%; height: 100%;
  float: right; margin: 0 4% 0 0; padding-top: 8%; }
.price_box .price_info {
  width: 100%; height: 62%;
}

.deli_price .price_info h2 { font-size: 29px; padding-top: 10px; margin-bottom: 20px;}
.deli_price .price_info ul { border: 1px solid #ccc; width: 500px; height: 200px; padding: 0;}
.deli_price .price_info ul li {
  width: 100%; height: 25%; background-color: #FBFBFB;
  border-bottom: 1px solid #ccc; box-sizing: border-box;
  font-size: 16px; letter-spacing: 0.3px;
  font-weight: 600;
}
.deli_price .price_info ul span {
  display: inline-block; box-sizing: border-box;
  width: 48%; height: 100%;
  padding: 17px 10px 0 12px;
}
.deli_price .price_info ul span.price {
  width: 50%; height: 100%;
  text-align: right; background-color: #fff;
}
.deli_price .price_info ul li span:first-child { border-right: 1px solid #ccc; }
.deli_price .price_caution {
  width: 100%; height: fit-content; 
  margin: 0;
}
.deli_price .price_caution li { font-size: 16px; font-weight: 300;
  padding-left: 14px; line-height: 28px; position: relative; }
.deli_price .price_caution li::after {
  content: "-"; 
  color: #555555; 
  display: block; position: absolute;
  top: 0;
  left: 0;
} 

  /* 운송서비스 - 이용요금 끝 */

  /* 운송서비스 - 매장 안내도 */
.ivory_2 { background-color: #F8F8F8; margin-top: 0; height: 1000px; }
.ivory_2 .sub_content {
  background-color: #F8F8F8;
  overflow: hidden; position: relative; /*height: 900px;*/ }
.ivory_2 .sub_content h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
  margin-bottom: 60px;
}
.ivory_2 .sub_content .map_list {
  height: 100px;
  margin: 0 auto;
  border-top-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
}
.ivory_2 .sub_content .map_list ul {
  width: 100%; height: 100%; background-color: white;
  border-top-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
}
.ivory_2 .sub_content .map_list li {
  float: left; width: 25%; height: 100%;
  text-align: center; font-size: 18px;
}
.ivory_2 .sub_content .map_list li { display: block; line-height: 90px; }
.ivory_2 .sub_content .map_list li:first-child {
  border-top-left-radius: 30px 30px;
}
.ivory_2 .sub_content .map_list li:last-child {
  border-bottom-right-radius: 30px 30px;
}
.ivory_2 .sub_content #slider {
  background-color: white; 
  box-sizing: content-box;
  width: 4800px;
  height: 620px;
  margin-top: 30px;
  position: absolute;
}
.ivory_2 .sub_content #slider > li { width: 1200px; height: 100%; float: left; }
.ivory_2 .sub_content #slider > li .map_info { width: 100%; height: 100%; padding: 0; }
.ivory_2 .sub_content .map_info .map_img { float: left; width: 67%; height: 100%; overflow: hidden; }

.ivory_2 .sub_content .map_info .map_cont { 
  float: right; width: 33%;
  height: 100%; background-color: #E9E9E9;
}
.ivory_2 .sub_content .map_info .map_cont2 {
  display: block;
  width: 330px; height: 94%;
  margin: 30px auto 0;
  overflow: hidden;
}
.ivory_2 .sub_content .map_info .map_cont2 h2 {
  color: black; text-align: left;
  padding: 40px 0 10px 0; margin: 0;
  border-bottom: 1px solid #ccc;
}
.sub_content .map_info .map_cont .map_cont2 ul {
  width: 100%; padding-top: 20px;
}
.sub_content .map_info .map_cont .map_cont2 li {
  font-size: 17px;
  line-height: 40px;
}
.sub_content .map_info .map_cont .map_cont2 ul span {
  background-color: #434343;
  border-radius: 60%;
  color: white; font-size: 14px;
  padding: 2% 3%; margin-right: 10px;
}
.ivory_2 .sub_content .map_info .map_cont .map_cont2 p.shop_time {
  text-align: center;
  width: 100%; height: 40px;
  background-color: #FFDA00;
  font-size: 20px; font-weight: 400; letter-spacing: normal;
  margin-top: 70px; padding-top: 20px;
}

/* .ivory_2 .sub_content #slider li:first-child { position: absolute; z-index: 999; } */

.ivory_2 .sub_content #slider li:nth-child(2) { z-index: 100; }
.ivory_2 .sub_content #slider li:nth-last-child(2) { z-index: 50; }
.ivory_2 .sub_content #slider li:last-child { z-index: 1; }

nav.map_list li.on {
  background-color: #FFDA00;
  color: black; font-size: bold;
}
.ivory .sub_content .slider_wrap {
  width: 100%; height: 600px; overflow: hidden;
}
/* 운송서비스 - 매장 안내도 끝 */
  



/*******************************************************/

@media screen and (max-width: 800px){
  .popup { font-size: 50%; }
  .popup p{ margin: 0; line-height: 1.5; } 
  .popup p:not(:last-child){ margin-bottom: 1.5rem; }
  .popup img{ display :block; max-width: 100%; }
  .popup a{ text-decoration: none; }
  .open-popup{ color: #fff; text-transform: uppercase;
    padding: 1rem 2rem; border: 1px solid; }

  /* 운송서비스 */
  body { width: 100%; }
  #wrap { width: 100%; }
  .sub_content_wrap { width: 100%; }
  .sub_content_wrap .sub_title { font-size: 26px;
  padding: 150px 0 50px 4%; margin-bottom: 0; height: 70px; }
  .white { width: 100%; }
  .white .sub_content { width: 100%; }
  .white .sub_content .sub_navi { width: 100%; left: 0; top: 0; }
  .white .sub_content .sub_navi ul { width: 100%; height: 100%; }
  .white .sub_content .sub_navi ul li { width: 33.35%; }
  .white .sub_content .sub_navi ul li a { height: 100%; } 
  .white .sub_content .sub_navi ul li:first-child a { border-radius: 0; }
  .white .sub_content .sub_navi ul li:last-child a { border-radius: 0; }
  .white .sub_content .sub_indicator { width: 90%; padding-bottom: 1.5%;
    padding-top: 130px; margin: 0 auto; }
  .white .sub_content .sub_indicator > ul { display: none; }
  .white .sub_content .sub_indicator > h2 { font-size: 30px; color: black; font-weight: 600; }


  /* 운송서비스 - 이용방법 */
  .sub_content .clear { width: 100%; height: 100%; }
  .clear .delivery_info { width: 95%; height: 600px; margin: 0 auto; position: relative;}
  .clear .delivery_info h2 { text-align: center; font-size: 1.2em; font-weight: 400 !important; color: black; font-weight: 600; margin: 8% 0 5% 0; }
  .delivery_info .delivery_cont { width: 95%; height: 71%; }

  .delivery_info .book_btn { position: absolute; top: 56%; left: 2.5%; padding: 0; width: 95%; }
  .delivery_info .book_btn a {
    width: 100%; padding: 5% 38.4% !important;
    font-size: 15px;
    border-top-left-radius: 25px 20px;
    border-bottom-right-radius: 25px 20px;
  }

  .clear .delivery_info .delivery_cont li { clear: both; display: block; width: 100%; height: 40%;  margin-bottom: 8%; }
  .delivery_info .delivery_cont li:nth-child(3) { margin-left: 0; margin-bottom: 8%; }
  .clear .delivery_info .delivery_cont li:nth-child(even) { display: none; }
  
  .delivery_info .delivery_cont .delivery_img { height: 100%; width: 35%; float: left; overflow: hidden; }
  .delivery_info .delivery_cont .delivery_img img { width: 110px; height: auto; margin: 0; padding: 0 8% 0; margin-top: 40px; }

  .delivery_info .delivery_cont .delivery_img_txt { height: 100%; width: 56%; float: right; padding-left: 7%; }
  .delivery_info .delivery_cont .delivery_img_txt h3 {
    padding: 8px 2px 0 0;
    top: 11.5%; left: 11%;
    width: 28px; height: 22px;
    font-size: 15px;
    border-radius: 75px;
  }
  .delivery_cont .delivery_img_txt h4 {
    font-size: 20px !important; width: fit-content;
    margin: 0 0 0 0; color: black;
    padding-top: 60px; letter-spacing: 0em;
  }
  .delivery_cont .delivery_img_txt p {
    text-align: left; font-size: 15px; 
    color: gray; padding-bottom: 40px; padding-left: 0 !important; 
  }
  /* 운송서비스 - 이용방법 끝 */
  

  /* 운송서비스 - 시간 */
  /* .ivory { display: none; } */
  .ivory { width: 100%; height: 450px; padding: 12% 0; }
  .ivory .sub_content { width: 90%; background: url(../images/img/deliver_cont3_img02_m.png) no-repeat 0 250px; background-size: 100% auto; height: 100%; position: relative; }
  .ivory .sub_content h2 { font-size: 1.6rem; color: black; padding: 0; }
  .ivory .sub_content .deli_human { width: 85px; height: 85px; margin-top: 150px; }
  .sub_content .deli_human img { width: 100%; height: auto; padding: 0 !important; }
  .sub_content .place_select { margin-top: 0 !important; padding-top: 50px;
    height: 35%; }
  .sub_content .place_select .place_leave, .sub_content .place_select .place_arrive { clear: both; 
  width: 100%; }
  .sub_content .place_select .place_list { width: 100% !important; }
  .sub_content .place_select .place_leave select { margin-bottom: 12px; }

  .ivory .sub_content .deli_notice {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 32%;
  }
  .sub_content .deli_notice .notice_detail p { font-size: 1.1em; margin: 42px auto 0; }

  .ivory .sub_content .deli_human img.move {
    transform: translateX(300%);
    transition-duration: 1000ms;
  }
  .ivory .sub_content .deli_human img.back {
    transform: translateX(0%);
    transition-duration: 1000ms;
  }

  /* 운송서비스 - 시간 끝 */


  /* 운송서비스 - 숙소지역 */
  /* .deli_hotel { display: none; } */
  .deli_hotel { width: 100%; height: fit-content; }
  .deli_hotel .sub_content { width: 90%; margin: 0 auto; }
  .deli_hotel .sub_content h2 { font-size: 1.6em; color: black; padding-top: 8%; }
  .sub_content .hotel_area { width: 100%; margin-top: 8% !important; margin: 0 auto 8%; }
  .sub_content ul.hotel_area li { width: 33.3%; height: 50%; margin: 0;}
  .sub_content ul.hotel_area li .img_box { width: 100%; height: 100%; }
  .sub_content ul.hotel_area li .img_box img { width: 100%; height: 100%; }
  .sub_content ul.hotel_area li p { font-weight: 600; font-size: 1.0rem !important; left: 33% !important; }
  .sub_content ul.hotel_area li p#long { top: 41% !important; left: 27% !important; }
  /* 운송서비스 - 숙소지역 끝 */


  /* 운송서비스 - 이용요금 */
  /* .deli_price { display: none; } */
  .deli_price {
    width: 90%; height: 600px;
    background-size: cover;
    overflow: hidden;
    background-position-x: 26%;
    padding: 5%;
  }
  .deli_price .size_img { width: 35%; height: 36%; margin-left: 30%; margin-top: 0; }
  .deli_price .size_img img { width: 100%; height: auto; top: 0; left: 0; }
  .deli_price .price_box { padding: 0; width: 100%; margin: 0; }
  .deli_price .price_info { width: 100%; margin: 0; height: 250px; }
  .deli_price .price_info h2 { font-size: 1.5rem; text-align: center; color: black; }
  .deli_price .price_info ul { width: 100%; height: 72%; border-bottom: none; }
  .deli_price .price_info ul li { width: 100%; height: 25%; background-color: white; }
  .deli_price .price_info ul span { width: 63%; background-color: #FBFBFB;
    font-size: 15px; color: #555; font-weight: 600; }
  .deli_price .price_info ul span.price { width: 35%; padding-left: 0;
    font-weight: 600; color: #333; }
  .deli_price .price_caution { width: 100%; margin: 0; height: fit-content; margin-top: 0; }
  .deli_price .price_caution li { font-size: 15px; line-height: 25px; margin-bottom: 1%; }
  /* 운송서비스 - 이용요금 끝 */


  /* 운송서비스 - 매장안내도 */
  .ivory_2 { width: 100%; height: 1020px; padding-top: 12%; }
  .ivory_2 .sub_content { width: 100%; height: 100%; }
  .ivory_2 .sub_content h2 { padding: 0 0 8% 0; margin: 0; font-size: 1.4rem; color: black; }
  .sub_content .map_list { width: 100%; border-radius: 0 !important; height: 16% !important; padding-top: 3%; }
  .sub_content .map_list ul {
    border-radius: 0 !important;
    width: 100%; height: 100%;
  }
  .sub_content .map_list ul li { border-radius: 0 !important;
    width: 50% !important; height: 50% !important; font-size: 1.0rem !important;}

  .ivory_2 .sub_content .slider_wrap { width: 400%; height: 76.4%; padding-top: 4%; }
  .ivory_2 .sub_content #slider { width: 400%; height: 76.4%; overflow: hidden; margin-top: 0; }
  .ivory_2 .sub_content #slider > li { width: 25%; height: 100%; }
  .ivory_2 .sub_content #slider li .map_info { width: 100%; height: 100%; }
  .ivory_2 .sub_content #slider li .map_info .map_img { float: none; width: 100%; height: fit-content; }
  .sub_content #slider li .map_info .map_img img { width: 100%; }
  .ivory_2 .sub_content #slider li .map_info .map_cont { float: none; width: 100%; height: 56.5%; padding: 6%; }
  .sub_content #slider li .map_info .map_cont .map_cont2 { margin: 0; height: 100%;}
  .sub_content #slider li .map_info .map_cont .map_img2 { position: relative; height: 196px; }
  .sub_content #slider li .map_info .map_cont .map_img2 img { width: 100%; position: absolute;
    top: -25%; }
  .sub_content #slider li .map_info .map_cont .map_cont2 h2 { padding-top: 8%;
    padding-bottom: 7%; font-size: 1.7rem; }
  .sub_content #slider li .map_info .map_cont .map_cont2 ul { padding: 0; margin-top: 3%; }
  .sub_content #slider li .map_info .map_cont .map_cont2 li { font-size: 1.1rem; }
  .sub_content #slider li .map_info .map_cont .map_cont2 .shop_time { margin-top: 5%; }
  /* 운송서비스 - 매장안내도 끝 */

  nav.map_list li.m_on {
    background-color: #FFDA00;
    color: black; font-weight: bold;
  }
  .sub_content #slider li.invisible { display: none; }


} 